body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    align-items: center;
    justify-content: center;
}

th {
    background-color: #fff;
    color: #333;
}

a {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

form p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

form input[type="text"] {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

form input[type="file"] {
    margin: 10px 0;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    color: #fff;
    background-color: #007BFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

a:hover {
    color: #0056b3;
}

a.delete {
    color: #fff; /* white text */
    background-color: #f00; /* red background */
    padding: 10px 20px; /* some padding */
    text-decoration: none; /* remove underline */
    border-radius: 5px; /* rounded corners */
    display: inline-block; /* necessary for padding to take effect */
}

a.delete:hover {
    background-color: #d00; /* darker red background on hover */
}

ul.flashes {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

ul.flashes li {
    border: 1px solid #f8d7da;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

ul.flashes li.success {
    border: 1px solid #d4edda;
    background-color: #d4edda;
    color: #155724;
}

ul.flashes li.error {
    border: 1px solid #f8d7da;
    background-color: #f8d7da;
    color: #721c24;
}


input[type="text"],

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    font-size: 16px;
}

#speak:hover {
    color: #007BFF;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flag-icon {
    font-size: 1.5em;
}

.user_answer {
    margin: auto;
}


.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 150px;
}