<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message|safe }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" autofocus><br>
            <input type="submit" value="Login">
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelector('input[name="password"]').focus();
        });
    </script>
</body>
</html>