<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Word Pair</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>    
    <div class="container">
        <h1>Update Word Pair</h1>
        <form action="{{ url_for('update', id=pair.id) }}" method="post">
            <label for="english">English Word:</label><br>
            <input type="text" id="english" name="english" value="{{ pair.english_word }}" required><br>

            <label for="dutch">Dutch Word:</label><br>
            <input type="text" id="dutch" name="dutch" value="{{ pair.dutch_word }}" required><br>

            <input type="submit" value="Update">
        </form>
        <br>
        <a href="{{ url_for('words') }}">Cancel</a>
        <br>
        <br>
        <a href="{{ url_for('delete', id=pair.id) }}" class="delete">Delete <i class="fas fa-trash"></i></a>
    </div>
</body>
</html>
