<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Pairs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
</head>
<body>
    <div class="container">
        <a href="{{ url_for('index') }}">Play the Game</a>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message|safe }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h1>Word Pairs</h1>
        <form action="{{ url_for('upload_csv') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv">
            <input type="submit" value="Upload">
        </form>
        <br>
        <a href="{{ url_for('create') }}">Create a New Pair</a>
        <br>
        <table>
            <tr>
                <th><span class="flag-icon flag-icon-gb"></span></th>
                <th><span class="flag-icon flag-icon-nl"></span></th>
                <th></th>
            </tr>
            {% for pair in pairs %}
            <tr>
                <td>{{ pair.english_word }}</td>
                <td>{{ pair.dutch_word }}</td>
                <td>
                    <a href="{{ url_for('update', id=pair.id) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
